<h3>$i18n.getString( "dhis-web-validationrule" )</h3>

<ul class="introList">
    #if( $security.canView( "validationRule" ) )#introListImgItem( "validationRule.action" "validation_rule" "validationrule" )#end
</ul>