<h3>$i18n.getString( "dhis-web-validationrule" )</h3>

<ul class="introList">
    #if( $security.canView( "validationRule" ) )#introListImgItem( "validationRule.action" "validation_rule" "validationrule" )#end
    #if( $security.canView( "validationRuleGroup" ) )#introListImgItem( "validationRuleGroup.action" "validation_rule_group" "validationrule" )#end
##    #if ($currentUser.isSuper()) #introListImgItem( "getAlertConfiguration.action" "alert_configuration" "validationrule" )#end
</ul>