#foreach( $attribute in $attributes )
    #if ($attribute.displayName == "Work Phone")
        #set($workPhone = $attribute)
        #set($workPhoneValue = $attributeValues.getOrDefault($attribute.id, ""))
    #elseif ($attribute.displayName == "Organisation Type")
        #set($orgType = $attribute)
        #set($orgTypeValue = $attributeValues.get($attribute.id))
    #elseif ($attribute.displayName == "Organisation Name")
        #set($orgName = $attribute)
        #set($orgNameValue = $attributeValues.getOrDefault($attribute.id, ""))
    #elseif ($attribute.displayName == "Notes")
        #set($notes = $attribute)
        #set($notesValue = $attributeValues.getOrDefault($attribute.id, ""))
    #else
    #end
#end

<script type="text/javascript">

    var setUserRolePermisstion = function (currentUserAccount)
    {
        $.ajax({
            type: 'GET',
            url: '../api/24/userRoles.json',
            dataType: 'json',
            success: function(data)
            {
                $.each(data.userRoles, function(){
                    if ((this.displayName == 'Superuser')
                            && (this.id == currentUserAccount.id))
                    {
                        $('#needShowInSuperuser').show();
                    }
                    else
                    {
                        $('#needShowInSuperuser').hide();
                    }
                });
            }
        });
    }
    var ouwtSelected = [];

    jQuery(function () {
        var rules = getValidationRules("user");
        rules["rawPassword"].required = false;
        rules["retypePassword"].required = false;
        rules["inviteEmail"].required = false;

        validation2('updateUserForm', function (form) {
            jQuery("#ugSelected").children().attr("selected", "selected");
            jQuery("#dcSelected").children().attr("selected", "selected");

            if ($('#orgUnitTree').find('.selected').size() == 0) {
                setHeaderDelayMessage('$encoder.jsEncode( $i18n.getString(
                    "data_capture_organisation_unit_required_for_user" ) )');
            } else {
                $('#ouwtSelected').val(ouwtSelected[0]);
                selection.setSelected(ouwtSelected !== undefined ? ouwtSelected : []);
                form.submit();
            }
        }, {
            'beforeValidateHandler': function () {
                //listValidator('urValidator', 'urSelected');
                #tblDynamicAttributesJavascript()
            },
            'rules': rules
        });

        jQuery('input[name^="attribute_${orgName.id}"').each(
                function () {
                    jQuery(this).rules('add', {'required': true})
                }
        );

        //checkValueIsExist("openId", "validateUser.action", { id: $userCredentials.id});

        ouwtSelected = selection.getSelected();
        selection.clearSelected(); // Sync ouwt from server
        selection.setOfflineLevel(1);
        selection.setMultipleSelectionAllowed(true);
        selection.setUnselectAllowed(true);
        selection.setAutoSelectRoot(false);

        jQuery("#cancel").click(function () {
            dhis2.commons.redirectCurrentPage('alluser.action');
        });

        selectionTreeSelection.setMultipleSelectionAllowed(true);
        selectionTree.buildSelectionTree();

        externalAuthChanged();

        $('#urAvailable').selected({
            url: '../api/userRoles.json?canIssue=true',
            target: $('#urSelected'),
            search: $('#urAvailableSearch'),
            iterator: 'userRoles'
        });

        $('#ugAvailable').selected({
            url: '../api/userGroups.json',
            target: $('#ugSelected'),
            search: $('#ugAvailableSearch'),
            iterator: 'userGroups'
        });

        $('#dcAvailable').selected({
            url: '../api/dimensions/constraints.json',
            target: $('#dcSelected'),
            search: $('#dcAvailableSearch'),
            iterator: 'dimensions'
        });

        $.ajax({
            type: 'GET',
            url: '../api/24/me.json',
            data: {fields: 'userCredentials'},
            dataType: 'json',
            success: function(data) {
                setUserRolePermisstion(data.userCredentials.userRoles[0]);
            }
        });




    });


</script>

<style type="text/css">
    div#orgUnitTree {
        width: 495px;
        border: 1px solid #ccc;
    }

    span.displayNone {
        display: none;
    }

    input[type=tel] {
        width: 26em;
        border: 1px solid #aaa;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        border-radius: 3px;
        padding: 6px 5px;
        margin: 2px 0;
        color: #222;
    }
</style>

<h3>$i18n.getString( "edit_user" )</h3>

<form id="updateUserForm" action="updateUser.action" method="post" class="inputForm">
    <input type="hidden" id="ouwtSelected" name="ouwtSelected" value=""/>

    <div><input type="hidden" id="id" name="id" value="$userCredentials.id"/></div>
    <table>
        <col style="width: 120px"/>
        <col style="width: 350px"/>
        <col style="width: 350px"/>

        <tr>
            <th colspan="4">$i18n.getString( "details" )</th>
        </tr>

        <tr>
            <td><label for="username">$i18n.getString( "username" )</label></td>
            <td colspan="3"><input type="email" id="username" name="username"
                                   value="$encoder.htmlEncode( $userCredentials.username )" disabled="disabled"
                                   autocomplete="off"/></td>
        </tr>

        <tr>
            <td><label for="rawPassword">$i18n.getString( "password" )</label></td>
            <td colspan="3"><input type="password" id="rawPassword" name="rawPassword" autocomplete="off"></td>
        </tr>

        <tr>
            <td><label for="retypePassword">$i18n.getString( "retype_password" ) </label></td>
            <td colspan="3"><input type="password" id="retypePassword" name="retypePassword" autocomplete="off"></td>
        </tr>

        <tr class="account">
            <td><label for="attribute_$workPhone.id">$i18n.getString("$workPhone.displayName")</label></td>
            <td colspan="3"><input type="tel" class="workPhone" id="attribute_$workPhone.id" name="attribute_$workPhone.id" value="$workPhoneValue"></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <span for="attribute_$workPhone.id" class="errorworkPhone displayNone error">Please enter a valid telephone number.</span>
            </td>
        </tr>

        <tr>
            <td><label for="phoneNumber">$i18n.getString( "Telephone" )</label></td>
            <td colspan="3"><input type="tel" id="phoneNumber" name="phoneNumber" value="$!encoder.htmlEncode( $userCredentials.userInfo.phoneNumber )"></td>
        </tr>

        <tr>
            <td></td>
            <td>
                <span for="phoneNumber" class="errorphoneNumber displayNone error">Please enter a valid telephone number.</span>
            </td>
        </tr>

        <tr>
            <td><label for="attribute_$orgType.id">$i18n.getString("$orgType.displayName")<em
                    title="$i18n.getString( 'required' )" class="required">*</em></label></td>
            <td>
                <select id="attribute_$orgType.id" name="attribute_$orgType.id"">
                <option value="Governmental Organisation" selected="selected">Governmental Organisation</option>
                <option value="Non-Governmental Organisation" selected="selected">Non-Governmental Organisation</option>
                </select>
            </td>
        </tr>


        <tr class="account">
            <td><label for="attribute_$orgName.id">$i18n.getString("$orgName.displayName")<em
                    title="$i18n.getString( 'required' )" class="required">*</em></label></td>
            <td colspan="3"><input type="text" id="attribute_$orgName.id" name="attribute_$orgName.id" value="$orgNameValue" class="error"></td>
        </tr>

        <tr class="account">
            <td><label for="attribute_$notes.id">$i18n.getString("$notes.displayName")</label></td>
            <td colspan="3"><input type="$notes.valueType" id="attribute_$notes.id" name="attribute_$notes.id" value="$notesValue"></td>
        </tr>


        <tr>
            <td><label>$i18n.getString( "language" )</label></td>
            <td>
                <select id="localeUi" name="localeUi">
                    #foreach( $locale in $availableLocales )
                        <option value="$locale.toString()"
                                #if( $locale == $currentLocale )selected="selected"#end>$locale.getDisplayName()</option>
                    #end
                </select>
            </td>
        </tr>

        <tr id="needShowInSuperuser">
            <td><label for="urSelected">$i18n.getString("User Role")<em title="$i18n.getString( 'required' )"
                                                                        class="required">*</em></label></td>
            <td>
                <select id="urSelected" name="urSelected" class="valid">
                #foreach( $userRole in $allUserAuthorityGroups)
                    #if ($userRole.uid == $userAuthorityGroups.get(0).uid)
                        <option id="$userRole.name" value="$userRole.uid" selected="selected">$!encoder.htmlEncode( $userRole.name )</option>
                    #else
                        <option id="$userRole.name" value="$userRole.uid">$!encoder.htmlEncode( $userRole.name )</option>
                    #end
                #end
                </select>
            </td>
        </tr>


        <tr>
            <td><label for="emailAlert">$i18n.getString("email_alert")</label></td>

            <td>
                <input type="checkbox" name="emailAlert" value="true" #if ($user.emailAlert) checked="checked" #end>
            </td>
        </tr>


        <tr>
            <td><label for="smsAlert">$i18n.getString("sms_alert")</label></td>

            <td>
                <input type="checkbox" name="smsAlert" value="true" #if ($user.smsAlert) checked="checked" #end>
            </td>
        </tr>


    </table>


    <table style="margin-bottom: 20px;">
        <tr>
            <th>$i18n.getString( "Locations" )</th>
        </tr>
        <tr>
            <td>
                #parse( "/dhis-web-commons/ouwt/orgunittree.vm" )
            </td>
        </tr>
    </table>

    <select id="jsonAttributeValues" name="jsonAttributeValues" multiple="multiple" style="display:none">
    </select>


    <p>
        <input type="submit" value="$i18n.getString( 'save' )" style="width:10em"/>
        <input type="button" id="cancel" value="$i18n.getString( 'cancel' )" style="width:10em"/>
    </p>

</form>

<script type="text/javascript">
    $("#username").change(function () {
        var username = $("#username").val();
        $("#email").val(username);
    });

    validate_phone_number('workPhone');
    validate_phone_number('phoneNumber');

</script>
